<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponser connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camppage.css') }}" />
  </head>
  <div id="top">
    <body>
    
        <p>Sponsor Connect</p>
        <a href="/infdash/{{ iid }}" class="disabled">Home</a>
        <a href="/">Logout</a>
    </div>

    <div class="container1">
        <div class="vertical">
        <div class="inf_o">
            <p>Campaign Details</p>
            <p id="name">{{camp_info[2]}}</p>
            <p>Sponser:{{camp_info[0]}}</p>
            <p>{{camp_info[3]}}</p>
            {% set start_date_string = camp_info[4] %}
            {% set end_date_string = camp_info[5] %}
            <p>from: {{start_date_string[:10]}} - {{end_date_string[:10]}}</p>
            {% if camp_info[6]!=2 %}
            <a href="/reportcamp/{{iid}}/{{cid}}">Report</a>
            {% endif %}
            {% if camp_info[6]==2 %}
            <p>FLAGGED SPONSER</p>
            {% endif %}
    </div>
{% if ad_info!="gg" %}
<div class="ad_content">
    <p>Advertisment Details</p>
    <p>Message:  {{ad_info[3]}}</p>
    <p>Description:{{ad_info[4]}}</p>
    <p>Payment :{{ad_info[5]}}$</p>
    <p>Status: {{ad_info[6]}}</p>
</div>
{% endif %}
</div>

<div class="vertical2">
{% if ad_info=="gg" %}
<div class="right">
    <form action="/campview/{{iid}}/{{cid}}" method="POST">
        <h1>Contact Sponser</h1>
        <p>Enter message</p>
        <input type="Text" name="message" id="username" placeholder="Message" required>
        <p>Requirments Willing to meet</p>
        <input type="text" name="Requirments" id="password" placeholder="2 deliverables , each 60 seconds long" required>
        <p>Enter payment</p>
        <input type="text" name="payment" id="Duration" placeholder="100000" required>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}

{% if  ad_info[6]=="waitfor_inf" %}
<p>Incoming offer</p>
<a href="/infapproveadreq/{{iid}}/{{cid}}"  id="makegreen"> Approve request</a>
<a href="/infnegotiate/{{iid}}/{{cid}}">Negotiate</a>
{% endif %}

{% if ad_info[6]=="waitfor_sp" %}
<p>WAITING FOR SPONSER</p>
{% endif %}

{% if ad_info[6]=="Accepted" %}
<p class="status_green">Accepted Succesfully</p>
{% endif %}


{% if ad_info[6]=="negotiate_from_inf" %}
<p class="status">WAITING FOR SPONSER</p>

{% endif %}

{% if ad_info[6]=="negotiate_from_sponser" %}
<p>Negotiate request</p>
<a href="/infapproveadreq/{{iid}}/{{cid}}" id="makegreen"> Approve request</a>
<a href="/infnegotiate/{{iid}}/{{cid}}">Negotiate</a>
{% endif %}

{% if ad_info[6]=="Rejected" %}
<p class="status_red">Status :Rejected</p>
{% endif %}

{% if ad_info != "gg" and ad_info[6] != "Rejected" %}
<a href="/dropsp/{{iid}}/{{cid}}" id="makered">Drop Sponser</a>
{% endif %}
</div>
        </div>
        </body>