<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponser connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chooselogin.css') }}" />
  </head>
  <div id="top">
    <body>
    
        <p>Sponsor Connect</p>
    </div>

    <div id="log">
        <form action="/" method="POST">
        <h1>Choose User type</h1>
        <label>   <input type="radio" name="logch" value="Sponser" checked> Sponser</label>
        <label>   <input type="radio" name="logch" value="Inf"> Influncer</label>
        <label>   <input type="radio" name="logch" value="Admin">Admin</label>
        <br>
        <p>Enter Username</p>
        <input type="Text" name="username" id="username", placeholder="username" required>
        <p>Enter password</p>
        <input type="password" name="password" id="password", placeholder="password" required>
        <input type="submit" value="login">
        {% if msg %}
        <p id="invalid">{{msg}}</p>
        {% endif %}
        <a href="/createsp">Sponser registration</a>
        <a href="/createinf">Influncer registration</a>
    </form>

        </div>


