<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponser connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sponserdash.css') }}" />
  </head>
  <div id="top">
    <body>
    
        <p>Sponsor Connect</p>
        <a href="/infdash/{{ iid }}" class="disabled">Home</a>
        <a href="/">Logout</a>
    </div>

    <div class="title_container">
      <p>Your Campaigns</p>
    </div>

    <div class="options">
      <a href="/searchcamp/{{iid}}" class="camps"> 
        <p class="newcamp">Join New Campaign</p>
      </a>

{% for ad in ad_list %}
      <a href="/campview/{{iid}}/{{ad[0]}}" class="camps">
      <div class="opts">
        <p class="camp_title">Campaign:{{ad[1]}}</p>
        <p>Sponser :{{ad[2]}}</p>
        <p>Status :{{ad[3]}}</p>
        <p>Payment :{{ad[4]}}</p>
      </div>
    </a>
{% endfor %}
    
        </div>