<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponser connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chooselogin.css') }}" />
  </head>
  <div id="top">
    <body>
    
        <p>Sponsor Connect</p>
    </div>

    <div id="log">
        <form action="/searchbyrange/{{sid}}/{{cid}}" method="POST">
        <p>Enter Lower limit </p>
        <input type="Text" name="lrange" id="username", placeholder="10000">
        <p>Enter Upper limit </p>
        <input type="Text" name="hrange" id="username", placeholder="20000">
        <input type="submit" value="Submit">
    </form>
        </div>


