<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponser connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewsp.css') }}" />
  </head>
  <div id="top">
    <body>
    
        <p>Sponsor Connect</p>
        <a href="/admindash/{{ aid }}" class="disabled">Home</a>
        <a href="/">Logout</a>
    </div>


<h1> Ad request</h1>

<div class="usertable">
<table>
    <tr>
        <th>Ad_request ID</th>
        <th>Campaign Name</th>
        <th>Influncer ID</th>
        <th>Status</th>
        <th>Payment</th>
        <th>Actions</th>
    </tr>

    {% for ad in ads_all %}
    <tr>
        <td>{{ad[0]}}</td>
        <td>{{ad[1]}}</td>
        <td>{{ad[2]}}</td>
        <td>{{ad[3]}}</td>
        <td>{{ad[4]}}</td>
        <td>
            <a href="/deletead/{{aid}}/{{ad[0]}}" id="delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

</body>

